<!-- we generate a number of items dinamically-->
<div *ngFor="let i of getExamples(10)">
  <!-- when the user clicks on the div the onRightClick event is called, we pass a simple object-->
  <div (contextmenu)="onRightClick($event, {content: 'Position ' + i})"
  style="padding-bottom: 20px;">
    List in position {{i}}
  </div>
</div>

<!-- an hidden div is created to set the position of appearance of the menu-->
<div style="visibility: hidden; position: fixed;"
[style.left]="menuTopLeftPosition.x"
[style.top]="menuTopLeftPosition.y"
[matMenuTriggerFor]="rightMenu"></div>

<!-- standar material menu -->
<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item>Clicked {{item.content}}</button>
    <button mat-menu-item>Fixed value</button>
  </ng-template>
</mat-menu>